*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* debug */


/* CSS rules */
.flexed{
    display: flex;
}
body{
    font-family: sans-serif;
    background-color: black;
}
/* header */
header{
    width: 100vw;
    height: 50px;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}
header .btn {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: transparent;
    font-size: 15px;
  }
header .btn:hover{
    background-color: darkgray;
}
/* main */

main .cols{
    margin: auto;
    height: 100vh;
    padding: 75px 0 105px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.col{
    width: 200px;
    height: 100px;
    margin: 0.5vw 0.2vw;
    position: relative;
    background: url("https://picsum.photos/300/200") no-repeat center;
    background-size: cover;
}
.col .labels{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    line-height: 15px;
    font-size: 15px;
}
.col .user-name{
    margin-left: 5px;
}